body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

main {
    flex: 1;
}

#mainheader, #opentime {
    font-family: fantasy;
    text-align: center;
}

#mainheader {
    font-size: 4rem;
}

#opentime {
    font-size: 2rem;
}

#navigation-top, #navigation-buttom {
    text-align: center;
}

#navigation-buttom ul {
    list-style: none;
    padding: 0;
}

.info-footer {
    font-family: fantasy;
    text-align: center;
}

.info-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid blue;
    margin: 1rem auto;
}

/* Surfplatta */
@media (min-width: 768px) {
    .info-body {
        width: 80%;
    } 
}
/* Desktop */
@media (min-width: 1024px) {
    .info-body {
        width: 60%;
    } 
}

.homepage-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    border: 2px solid blue;
}

.homepage-img img {
    max-width: 500px;
    width: 100%;    /* Bilden fyller hela figure-elementets bredd */
    height: auto;   /* Behåller bildens proportioner */
}


/* Surfplatta */
@media (min-width: 768px) {
    .homepage-img {
        width: 80%;
    } 
}
/* Desktop */
@media (min-width: 1024px) {
    .homepage-img {
        width: 60%;
    } 
}

#daysOpen, #openTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
    list-style: none;
    font-size: large;
    font-weight: bold;
    font-size: 1.5rem;
    white-space: pre-line;
}

/* Surfplatta */
@media (max-width: 1024px) {
    #services {
        border: 2px solid blue;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 4px;
        justify-content: space-between;
    } 
}
/* Desktop */
@media (min-width: 1024px) {
    #services {
        border: 2px solid blue;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding: 2rem;
        justify-content: space-between;
    } 
}
.service-card {
    padding: 1rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-card:hover {
    background-color: aqua;

}

.hidden {
    display: none;
}

.service-details {
    margin-top: 1rem;
}